body {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: #010203;
    overflow: hidden;
  }
  .container {
    margin: auto;
    width: 60%;
    text-align: center;
  }
  
  .cover {
    margin: auto;
    margin-top: 5em;
    background-size: cover;
    border-radius: 30px;
    width: 450px;
    height: 450px;
    z-index: 999;
    position: absolute;
  }
  .background-cover {
    margin: auto;
    margin-top: 5em;
    background-size: cover;
    border-radius: 30px;
    width: 460px;
    height: 460px;
    filter: blur(20px);
  }
  .coverContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;

}
  
  .song {
    color: #ffffff;
    font-size: 40px;
  }
  .artist {
    color: #ffffff57;
    font-size: 36px;
  }
  .follow {
    margin: auto;
    width: fit-content;
    margin-top: 20px;
    text-align: center;
  }
  
  .followButton {
    transition: transform 0.2s ease-out;
  }
  .followButton:hover {
    filter: brightness(125%);
    transform: scale(1.1);
  }
  
  
  .buttons {
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
  .addToPlaylist {
    margin-right: 1.5em;
    transition: transform 0.2s ease-out;

  }  
  .addToPlaylistAnimated {
    margin-right: 1.5em;
    transition: transform 0.2s ease-out;
    animation: rotate 1s ease;
  }
  .addToPlaylist:hover {
    -webkit-transition: 0.2s;
    filter: brightness(125%);
    transform: scale(1.1);
  }
  .addToLiked {
    margin-left: 1.5em;
    transition: transform 0.2s ease-out;
  }
  .addToLiked:hover {
    -webkit-transition: 0.2s;
    filter: brightness(125%);
    transform: scale(1.1);
  }
  
  .slidecontainer {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    position: relative;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 15%;
    height: 15px;
    background: #535353;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 15px;
    background: #c4c4c4;
    cursor: pointer;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
  }
  .slider::-webkit-slider-thumb:hover {
    -webkit-transition: 0.2s;
    background: #e0e0e0;
  }
  .GreenButtons {
    background-color: #010203;
    border: 0;
    transform-origin: center
  }
  #addToLikedCircle{
    fill: "#66D36E"
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #fff;
  }
  

  
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    justify-content: center;
    margin: auto;
  }
  .selectAnimated {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    justify-content: center;
    margin: auto;
    animation: shake 0.5s ease;
    box-shadow: 0 0 20px 0px #66D36E;
  }

  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
  }
  .select:hover::after {
    color: #66D36E;
  }

  .spin-once {
    /* Other button styles here */
    animation: spin 1s linear 1; /* 1s duration, linear timing, 1 iteration */
    transform-origin: center;
    transition: transform 0.2s ease-out;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(2deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg); }
    
  }
  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
  }

  
  
  